{% extends 'complianceSchemeEvidence/_layout.njk' %}

{% block stepBody %}
  <form method="post" action="{{ action }}" novalidate data-testid="evidence-issue-form">
    <div class="govuk-form-group{{ ' govuk-form-group--error' if errors.category }}">
      <fieldset class="govuk-fieldset" data-testid="evidence-issue-category">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ labels.categoryLegend }}</legend>
        {% if errors.category %}
          <p class="govuk-error-message" data-testid="evidence-issue-category-error">{{ errors.category }}</p>
        {% endif %}
        <div class="govuk-radios" data-testid="evidence-issue-category-radios"></div>
      </fieldset>
    </div>

    {{ govukInput({
      label: { text: labels.tonnesLabel },
      hint: { text: labels.tonnesHint },
      id: "tonnes",
      name: "tonnes",
      classes: "govuk-input--width-10",
      value: formValues.tonnes,
      errorMessage: { text: errors.tonnes } if errors.tonnes,
      attributes: { "data-testid": "evidence-issue-tonnes" }
    }) }}

    {{ govukButton({
      text: labels.continueAction,
      attributes: { "data-testid": "evidence-issue-continue" }
    }) }}
  </form>
{% endblock %}
