{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({ text: heading.text }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body" data-testid="about-body">{{ body }}</p>
    </div>
  </div>
{% endblock %}
