<div class="govuk-grid-row" data-testid="app-heading">
  <div class="govuk-grid-column-full">
    {% if params.organisationName %}
      <p class="govuk-caption-xl" data-testid="app-heading-organisation-name">
        {{params.organisationName}}
      </p>
    {% endif %}

    <h1 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-1"
        data-testid="app-heading-title">{{ params.text }}</h1>

    {% if params.caption %}
      <p class="govuk-body govuk-!-margin-top-6"
            data-testid="app-heading-caption">{{ params.caption }}</p>
    {% endif %}
  </div>
</div>
