{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <p class="govuk-body">{{ labels.body }}</p>

      <h2 class="govuk-heading-m">{{ labels.whatNextHeading }}</h2>
      <p class="govuk-body">
        {{ labels.whatNextBody }}
        <a class="govuk-link" href="#" data-testid="different-service-beis-link">{{ labels.whatNextLink }}</a>
      </p>
    </div>
  </div>
{% endblock %}
