{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" data-testid="producers-heading">{{ heading }}</h1>
      <p class="govuk-body">{{ intro }}</p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>Compliance period:</strong> <span data-testid="producers-period">{{ compliancePeriodYear }}</span>
      </p>

      <table class="govuk-table" data-testid="producers-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">{{ labels.columns.bprn }}</th>
            <th scope="col" class="govuk-table__header">{{ labels.columns.companyName }}</th>
            <th scope="col" class="govuk-table__header">{{ labels.columns.agency }}</th>
            <th scope="col" class="govuk-table__header">{{ labels.columns.status }}</th>
            <th scope="col" class="govuk-table__header">{{ labels.columns.batteryTypes }}</th>
            <th scope="col" class="govuk-table__header">{{ labels.columns.actions }}</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body" data-testid="producers-body"></tbody>
      </table>
      <p class="govuk-body" data-testid="producers-empty" hidden>{{ labels.emptyMessage }}</p>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ pagePayload.urls.dashboard }}" data-testid="producers-back-link">{{ labels.backToDashboardAction }}</a>
      </p>
    </div>
  </div>

  <script type="application/json" id="page-payload" data-testid="page-payload">{{ pagePayload | dump | safe }}</script>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath('regulatorProducers.js') }}"></script>
{% endblock %}
