{% extends 'complianceSchemeQuarterly/_layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block stepBody %}
  <table class="govuk-table" data-testid="quarterly-check-table">
    <thead class="govuk-table__head" data-testid="quarterly-check-head"></thead>
    <tbody class="govuk-table__body" data-testid="quarterly-check-body"></tbody>
    <tfoot data-testid="quarterly-check-foot"></tfoot>
  </table>

  <p class="govuk-body">
    {{ govukButton({
      text: labels.submitAction,
      href: pagePayload.next,
      attributes: { "data-testid": "quarterly-check-continue" }
    }) }}
  </p>
{% endblock %}
