{% extends 'complianceSchemeQuarterly/_layout.njk' %}

{% block stepBody %}
  <p class="govuk-body" data-testid="quarterly-member-name"></p>

  <form method="post" action="{{ action }}" novalidate data-testid="quarterly-member-form">
    <div data-testid="category-fields"></div>

    {{ govukButton({
      text: continueAction,
      attributes: { "data-testid": "quarterly-member-continue" }
    }) }}
  </form>

  <p class="govuk-body">
    <a class="govuk-link" href="{{ memberListUrl }}" data-testid="quarterly-member-back">Back to member list</a>
  </p>
{% endblock %}
