{% extends 'ni/onboarding/_layout.njk' %}

{% block stepBody %}
  <form method="post" action="{{ action }}" novalidate data-testid="ni-onboarding-form">
    {% call eubrAnnotation('registration') %}
      {{ govukInput({
        label: { text: labels.companyNameLabel },
        id: "companyName",
        name: "companyName",
        value: formValues.companyName,
        errorMessage: { text: errors.companyName } if errors.companyName,
        attributes: { "data-testid": "ni-company-name" }
      }) }}

      {{ govukInput({
        label: { text: labels.companyRegistrationNoLabel },
        id: "companyRegistrationNo",
        name: "companyRegistrationNo",
        classes: "govuk-input--width-10",
        value: formValues.companyRegistrationNo,
        errorMessage: { text: errors.companyRegistrationNo } if errors.companyRegistrationNo
      }) }}

      {{ govukInput({
        label: { text: labels.line1Label },
        id: "line1",
        name: "line1",
        value: formValues.line1,
        errorMessage: { text: errors.line1 } if errors.line1
      }) }}

      {{ govukInput({
        label: { text: labels.townLabel },
        id: "town",
        name: "town",
        value: formValues.town,
        errorMessage: { text: errors.town } if errors.town
      }) }}

      {{ govukInput({
        label: { text: labels.postcodeLabel },
        id: "postcode",
        name: "postcode",
        classes: "govuk-input--width-10",
        value: formValues.postcode,
        errorMessage: { text: errors.postcode } if errors.postcode
      }) }}
    {% endcall %}

    {{ govukButton({
      text: labels.continueAction,
      attributes: { "data-testid": "ni-onboarding-continue" }
    }) }}
  </form>
{% endblock %}
