{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      <p class="govuk-body" data-testid="sign-in-success-message">
        Taking you to your dashboard.
      </p>
      <p class="govuk-body">
        <noscript>
          <a class="govuk-link" href="{{ dashboardUrl }}" data-testid="sign-in-fallback-link">Continue to your dashboard</a>
        </noscript>
      </p>
    </div>
  </div>

  <script type="application/json" id="page-payload" data-testid="page-payload">{{ pagePayload | dump | safe }}</script>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ getAssetPath('signIn.js') }}"></script>
{% endblock %}
