{% extends 'operatorAnnualReturn/_layout.njk' %}

{% block stepBody %}
  <form method="post" action="{{ action }}" novalidate data-testid="annual-return-form">
    {{ govukCheckboxes({
      idPrefix: "declarationAccepted",
      name: "declarationAccepted",
      errorMessage: { text: errors.declarationAccepted } if errors.declarationAccepted,
      items: [
        {
          value: "yes",
          text: labels.declarationLabel,
          checked: formValues.declarationAccepted == "yes"
        }
      ],
      attributes: { "data-testid": "declaration" }
    }) }}

    {{ govukButton({
      text: continueAction,
      attributes: { "data-testid": "annual-return-continue" }
    }) }}
  </form>
{% endblock %}
