{% extends 'layouts/page.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      {{ govukWarningText({
        text: labels.warning,
        iconFallbackText: "Warning"
      }) }}

      <form method="post" action="{{ action }}" novalidate data-testid="submission-sign-in-form">
        {{ govukInput({
          id: "username",
          name: "username",
          label: { text: labels.usernameLabel, classes: "govuk-label--m" },
          classes: "govuk-!-width-two-thirds",
          attributes: { "data-testid": "submission-username" }
        }) }}

        {{ govukInput({
          id: "password",
          name: "password",
          type: "password",
          label: { text: labels.passwordLabel, classes: "govuk-label--m" },
          classes: "govuk-!-width-two-thirds",
          attributes: { "data-testid": "submission-password" }
        }) }}

        <p class="govuk-body govuk-!-margin-bottom-1">
          <a class="govuk-link" href="#" data-testid="submission-forgot-username">{{ labels.forgotUsernameLink }}</a>
        </p>
        <p class="govuk-body">
          <a class="govuk-link" href="#" data-testid="submission-forgot-password">{{ labels.forgotPasswordLink }}</a>
        </p>

        {{ govukButton({
          text: labels.loginAction,
          attributes: { "data-testid": "submission-log-in" }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
