{% extends 'complianceSchemeIa/_layout.njk' %}

{% block stepBody %}
  <table class="govuk-table" data-testid="ia-check-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Member</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Placed: Ind.</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Placed: Auto.</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Exported: Ind.</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Exported: Auto.</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Taken back: Ind.</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Taken back: Auto.</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Delivered: Ind.</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Delivered: Auto.</th>
        <th scope="col" class="govuk-table__header">{{ labels.changeAction }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body" data-testid="ia-check-body"></tbody>
    <tfoot>
      <tr class="govuk-table__row" data-testid="ia-check-totals">
        <th scope="row" class="govuk-table__header">Totals</th>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-testid="ia-check-total-placed-industrial"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-testid="ia-check-total-placed-automotive"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-testid="ia-check-total-exported-industrial"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-testid="ia-check-total-exported-automotive"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-testid="ia-check-total-taken-back-industrial"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-testid="ia-check-total-taken-back-automotive"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-testid="ia-check-total-delivered-industrial"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-testid="ia-check-total-delivered-automotive"></td>
        <td class="govuk-table__cell"></td>
      </tr>
    </tfoot>
  </table>

  <p class="govuk-body">
    {{ govukButton({
      text: labels.submitAction,
      href: pagePayload.next,
      attributes: { "data-testid": "ia-check-continue" }
    }) }}
  </p>
{% endblock %}
