{% extends 'ni/onboarding/_layout.njk' %}

{% block stepBody %}
  <form method="post" action="{{ action }}" novalidate data-testid="ni-onboarding-form">
    {% call eubrAnnotation('reporting') %}
      {{ govukInput({
        label: { text: labels.firstNameLabel },
        id: "firstName",
        name: "firstName",
        value: formValues.firstName,
        errorMessage: { text: errors.firstName } if errors.firstName
      }) }}

      {{ govukInput({
        label: { text: labels.lastNameLabel },
        id: "lastName",
        name: "lastName",
        value: formValues.lastName,
        errorMessage: { text: errors.lastName } if errors.lastName
      }) }}

      {{ govukInput({
        label: { text: labels.positionLabel },
        id: "position",
        name: "position",
        value: formValues.position,
        errorMessage: { text: errors.position } if errors.position
      }) }}

      {{ govukCheckboxes({
        idPrefix: "confirm",
        name: "confirm",
        errorMessage: { text: errors.confirm } if errors.confirm,
        items: [
          { value: "on", id: "confirm", text: labels.confirmLabel, checked: formValues.confirm == "on", attributes: { "data-testid": "ni-declaration-confirm" } }
        ]
      }) }}
    {% endcall %}

    {{ govukButton({
      text: labels.continueAction,
      attributes: { "data-testid": "ni-onboarding-continue" }
    }) }}
  </form>
{% endblock %}
