@use "govuk-frontend" as *;

.app-main-wrapper {
  display: block;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(3);
}

.govuk-phase-banner__content {
  width: 100%;
}

.app-phase-banner-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.app-phase-banner-dev-links {
  display: inline-flex;
  flex-shrink: 0;
  gap: 1rem;
}
